<html>
  <body>

      <h1>¿Quienes somos?</h1>
      <br> <br> <br>

      <h3>Historia</h3>
      <p>
        La trayectoria institucional de la UNIVERSIDAD COOPERATIVA DE COLOMBIA data desde el año 1958, cuando un grupo
        de cooperativistas, liderados por los hermanos Henry y Rymel Serrano Uribe junto con Carlos Uribe Garzón,
        deciden apostarle al fortalecimiento de la economía solidaria y en particular al cooperativismo, a partir de la
        formación de adultos dentro de esta doctrina. Para ello, fue creado el Instituto Moses Michael Coady, honrando
        el nombre del sacerdote cooperativista canadiense, pionero de la educación cooperativa en su país.
      </p>


      <h3>Misión</h3>
      <p>
        Somos una UNIVERSIDAD MULTICAMPUS de propiedad social, EDUCAMOS personas con las competencias para responder a las dinámicas del mundo, contribuimos a la construcción y difusión del conocimiento, apoyamos el desarrollo competitivo del país a través de sus organizaciones y buscamos el mejoramiento de la calidad de vida de las comunidades, influidos por la economía solidaria que nos dio origen.
      </p>

      <h3>Visión</h3>
      <p>
        En el año 2022, seremos una Universidad de docencia que reconoce y desarrolla la investigación, que impacta y
        transforma socialmente. Posicionada como referente en la educación con enfoque por competencias, que abre sus
        fronteras al mundo y que ejerce actividades con vocación hacia la excelencia evidenciadas en una gestión
        innovadora.
      </p>

      <h3>Principios</h3>
      <p>
        Se refieren a los aspectos que se convierten en el basamento para todas las acciones que adelanta la
        Universidad. Los principios son lo que no se negocia, lo que siempre está presente y frente a lo cual no se
        transige: En primer lugar, es una Universidad que pertenece al sector solidario, lo cual significa una propiedad
        social y un sentido social de sus programas y proyectos dirigidos a una población que, por otros medios, no
        tiene acceso a la educación superior. Su finalidad es el desarrollo de potencialidades en las personas que se
        benefician de los servicios y de los sectores sociales que tienen necesidades que deben ser satisfechas a través
        de éstos.
      </p>

      <h3>Valores</h3>
      <p>
        La Solidaridad, eje de los valores institucionales como fundamento de la formación de personas con
        responsabilidad social a partir del trabajo colectivo y la interdisciplinariedad.
      </p>
      <p>
        La Equidad, manifestada en primera instancia en el ofrecimiento de sus servicios sin distinciones de raza, credo
        o procedencia social como un aporte a la construcción de la democracia.
      </p>
      <p>
        El Respeto a la Diversidad, basado en la convicción de la diversidad del ser, como elemento potenciador del
        desarrollo. Valor básico al considerar las diferentes realidades y condiciones individuales de sus miembros y
        las formas de organización local, regional y nacional que caracterizan sus sedes. Su desarrollo implica, a la
        vez, la tolerancia y el pluralismo.
      </p>
      <p>
        La Libertad, como valor inherente a la humanidad para buscar la verdad sin restricciones, producir el
        conocimiento y el progreso de la sociedad. Implica la conciencia del sujeto sobre sus intereses, derechos,
        deberes y responsabilidades políticas con un alto sentido de responsabilidad colectiva.
      </p>


  </body>
</html>
