.botones button {
  margin-left: 5%;
  text-align: center;
  margin-top: 5%;
  height: 100px;
  width: 170px;
}

h1 {
  text-align: center;
  float: center;
  margin-top: 20px;
}

.botones2 button {
  margin-left: 35%;
  text-align: center;
  height: 100px;
  width: 170px;
}

footer {
  text-align: bottom;
  margin-top: 20px;
  height: auto;
  text-align: right;
}
