h1 {
  text-align: center;
  float: center;
  margin-top: 20px;
  color: black;
  }

h3 {
  text-align: center;
  float: center;
  margin-top: 20px;
  color: black;
}

label {
  margin-top: 5px;
  text-align: left;
  height: 45px;
  width: 253px;
  color: black;
}

input {
  border: 1px dotted #999;
  border-radius: 5px;
  height: 50px;
  width: 800px;
  background-color: aquamarine;
}

button {
  margin-left: 50%;
  text-align: center;
  margin-top: 5%;

}

footer {
  text-align: bottom;
  margin-top: 20px;
  height: auto;
  text-align: right;
}

body {
  background-color: gray;
}
